<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  <link rel="shortcut icon" href="./img/fav.png" type="image/x-icon">  
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/style.css') }}">  
  <title>Library Management System</title>
</head>
<body class="bg-gray-100">


<!-- start navbar -->
<div class="md:fixed md:w-full md:top-0 md:z-20 flex flex-row  items-center bg-white p-6 border-b border-gray-300">
    
    <!-- logo -->
    <div class="flex-none w-56 flex flex-row items-center">
      <img src="{{ url_for('static',filename= 'img/logo.png')}}" class="w-10 flex-none">
      <strong class="capitalize ml-1 flex-1">Library Management System </strong>

      <button id="sliderBtn" class="flex-none text-right text-gray-900 hidden md:block">
        <i class="fad fa-list-ul"></i>
      </button>
    </div>
    <!-- end logo -->   
    
    <!-- navbar content toggle -->
    <button id="navbarToggle" class="hidden md:block md:fixed right-0 mr-6">
      <i class="fad fa-chevron-double-down"></i>
    </button>
    <!-- end navbar content toggle -->

    <!-- navbar content -->
    <div id="navbar" class="animated md:hidden md:fixed md:top-0 md:w-full md:left-0 md:mt-16 md:border-t md:border-b md:border-gray-200 md:p-10 md:bg-white flex-1 pl-3 flex flex-row flex-wrap justify-between items-center md:flex-col md:items-center">
      <!-- left -->
      <div class="text-gray-600 md:w-full md:flex md:flex-row md:justify-evenly md:pb-10 md:mb-10 md:border-b md:border-gray-200">
        </div>
      <!-- end left -->      

      <!-- right -->
      <div class="flex flex-row-reverse items-center"> 

        <!-- user -->
        <div class="dropdown relative md:static">

          <button class="menu-btn focus:outline-none focus:shadow-outline flex flex-wrap items-center">
            <div class="w-8 h-8 overflow-hidden rounded-full">
              <img class="w-full h-full object-cover" src="{{ url_for('static',filename='img/user.svg') }}" >
            </div> 

            <div class="ml-2 capitalize flex ">
              <h1 class="text-sm text-gray-800 font-semibold m-0 p-0 leading-none">Librarian</h1>
              <i class="fad fa-chevron-down ml-2 text-xs leading-none"></i>
            </div>                        
          </button>
        </div>
    
      </div>
      <!-- end user -->

                 


      </div>
      <!-- end right -->
    </div>
    <!-- end navbar content -->

  </div>
<!-- end navbar -->


<!-- strat wrapper -->
<div class="h-screen flex flex-row flex-wrap">
  
    <!-- start sidebar -->
  <div id="sideBar" class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 md:-ml-64 md:fixed md:top-0 md:z-30 md:h-screen md:shadow-xl animated faster">
    

    <!-- sidebar content -->
    <div class="flex flex-col">

      <!-- sidebar toggle -->
      <div class="text-right hidden md:block mb-4">
        <button id="sideBarHideBtn">
          <i class="fad fa-times-circle"></i>
        </button>
      </div>
      <!-- end sidebar toggle -->

      <p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">homes</p>

      <!-- link -->
      <a href="/" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-chart-pie text-xs mr-2"></i>                
       Dashboard
      </a>
      <!-- end link -->

      <p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">BOOK</p>

      <!-- link -->
      <a href="/view_books" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-book text-xs mr-2"></i>
        Books
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="/add_book" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-book text-xs mr-2"></i>
        Add Book
      </a>
      <!-- end link -->
      <a href="/import_book" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-book text-xs mr-2"></i>
        Import BOOK
      </a>
      <!-- end link -->
      <!-- link -->
      <a href="/issuebook" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-book text-xs mr-2"></i>
        Issue Book
      </a>
      <!-- end link -->
     
      
      <p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">MEMBERS</p>

      <!-- link -->
      <a href="/view_members" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-text text-xs mr-2"></i>
        Members
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="/add_member" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-whistle text-xs mr-2"></i>
        Add Member
      </a>
      <!-- end link -->
      
      <p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Transaction </p>

      <!-- link -->
      <a href="/transactions" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-holo text-xs mr-2"></i>
        Transactions
      </a>
      <!-- end link -->

    </div>
    <!-- end sidebar content -->

  </div>
  <!-- end sidbar -->

  <!-- strat content -->
  <div class="bg-gray-100 flex-1 p-6 md:mt-16">

      <!-- Display the flash messages -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul>
              {% for message in messages %}
                   {% if 'success' in message %}
                      <li ><div class="alert alert-success mb-5">{{ message }}<div></li>
                    {% elif 'warning' or 'error' in message %}
                    <li ><Div Class="alert alert-error mb-5">{{ message }}<div></li>
                    {% endif %}
              {% endfor %}
          </ul>
      {% endif %}
      {% endwith %}
    {% block content %}


    {% endblock  %}
  </div>
  <!-- end content -->

</div>
<!-- end wrapper --> 

  

<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!-- end script -->

</body>
</html>
