{% extends 'base.html' %}
{% block content %}


<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Return  Book</h1>
    
    <div class="bg-white mt-4 p-6 rounded shadow">
        <h2 class="text-xl font-semibold mb-2">Transaction Details </h2>
        {% if trans %}
            
        <div class="bg-white p-6 rounded shadow">
            <p class="text-black">Book Borrow Date: {{ trans.Transaction.issue_date.date() }}</p>
            <p class="text-black">Book Returned Date: {% if trans.Transaction.return_date %}{{ trans.Transaction.return_date.date() }}{% else %}Not returned{% endif %}</p>
            <p class=" text-xl text-black">Rent Fee: {{ rent }} ₹</p>
        </div>

        {% endif %}
    </div>

    <div id="book-details" class="mb-4">
        <h1 class="text-2xl font-semibold mb-4"> Book Details</h1>
        <div class="bg-white p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-2">{{trans.Book.id}} : {{  trans.Book.title }}</h2>
            <p class="text-gray-600">{{ trans.Book.author }}</p>
            <p class="text-gray-600">{{ trans.Book.isbn }}</p>
            <p class="text-gray-600">{{ trans.Book.publisher }}</p>
            <p class="text-gray-600">Page Count: {{ trans.Book.page }}</p>
        </div>
    </div>

    <div id="member-details" class="mb-4">
        <h1 class="text-2xl font-semibold mb-4">Member Details</h1>
        <div class="bg-white p-6 rounded shadow">
        <h2 class="text-xl font-semibold mb-2">{{ trans.Member.name }}</h2>
        <p class="text-gray-600">{{ trans.Member.address }}</p>
        <p class="text-gray-600">{{ trans.Member.phone }}</p>
        <p class="text-gray-600">{{trans.Member.email }}</p>
        </p>
    </div>
    </div>
    </div>
    {% if not trans.Transaction.return_date %}
    <div class="mb-4">
        <form method="post" action="{{ url_for('return_book_confirm') }}">
            <input type="hidden" name="id" value="{{ trans.Transaction.id }}">
            <center><button type="submit" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2" onclick="return confirm('Are You Sure')">Confirm</button></center>
        </form>
    </div>
    {% endif %}
</div>
{% endblock content %}